/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Architects+Daughter&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    color: #003b21;
    font-family: 'Abel', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;

}

h1,
h2 {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #003b21;
}

.btn {
    margin: 2px 0 5px 0;
    color: #fff;
    border: none;
}

.btn-success {
    background-color: #003b21;
}


.btn-success:hover {
    background-color: #007e47;
    box-shadow: 1px 2px 10px #003b21;
}

.btn-danger:hover {
    background-color: #f10000;
    box-shadow: 1px 2px 10px #7e0101;
}


hr {
    color: #003b21;
}

/* Navbar */

.navbar {
    padding: 10px 10px 5px 20px;
    background-color: #003b21;
    font-size: 1.25rem;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    cursor: pointer;
    color: #ffffffcb !important;
    transform: scale(1.07);
}

nav .active {
    color: #ffffffcb !important;
    font-weight: bold;
    transform: scale(1.03);
}

#logo {
    max-width: 200px;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #003b21;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Category slide */

.category {
    border: 2px solid #003b21;
}

.category *:hover {
    cursor: pointer;
    background-color: #003b21;
    color: #fff;
}

.category-title {
    font-size: calc(2rem + 1.5vw);
}

/* div .active {
    background-color: #003b21;
    color: #fff;
} */

/* Custom CSS for the cards */

.card {
    cursor: pointer;
    border: 1px solid #003b21;
    box-shadow: 1px 2px 10px #003b21;
}

.card:hover {
    transform: translateY(-.15em) scale(1.01);
    box-shadow: 3px 5px 20px #003b21;
}

.card-title:hover {
    color: #002213;
}

.card-footer {
    background-color: #003b21;
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

/* Post view CSS */

/* .image-container {
    max-width: 70%;
} */

/* Override crispy form control with custom CSS */

textarea.form-control {
    max-height: 100px;
}

.form-control {
    border-color: #003b21;
}

.form-control:focus {
    border-color: #003b21;
    box-shadow: 1px 0 5px #003b21;
}

label.requiredField {
    display: none !important;
}

/* Override accounts form input */

input {
    width: 100%;
    padding: 2.5px;
    border: 1px solid #003b21;
}

input#id_remember {
    width: auto;
}


/* Footer */

footer {
    background-color: #003b21;
    color: #fff;
}


footer i {
    color: #fff;
}

footer i:hover {
    cursor: pointer;
    color: #ffffffcb;
    transform: scale(1.2);
}

/* Media queries */

@media only screen and (min-width: 960px) {
    .post-container {
        max-width: 820px;
    }
}