/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Architects+Daughter&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

body {
    color: #003b21;
    font-family: 'Abel', sans-serif;
}

a {
    text-decoration: none;
    color: #003b21;
}

/* Navbar */

.navbar {
    background-color: #003b21;
    font-size: 1.25rem;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    cursor: pointer;
    color: #ffffffcb !important;
    transform: scale(1.2);
}

#logo {
    max-width: 200px;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #003b21;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #003b21;
    color: #fff;
}


footer i {
    color: #fff;
}

footer i:hover {
    cursor: pointer;
    color: #ffffffcb;
    transform: scale(1.2);
}