/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Architects+Daughter&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

body {
    color: #003b21;
    font-family: 'Abel', sans-serif;
}

a {
    text-decoration: none;
    color: #003b21;
}


/* Navbar */

.navbar {
    padding: 10px 10px 5px 20px;
    background-color: #003b21;
    font-size: 1.25rem;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    cursor: pointer;
    color: #ffffffcb !important;
    transform: scale(1.07);
}

nav .active {
    color: #ffffffcb !important;
    font-weight: bold;
    transform: scale(1.03);
}

#logo {
    max-width: 200px;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #003b21;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Category slide */

.category {
    border: 2px solid #003b21;
}

.category *:hover {
    cursor: pointer;
    background-color: #003b21;
    color: #fff;
}

/* div .active {
    background-color: #003b21;
    color: #fff;
} */

/* Custom CSS for the cards */

.card {
    cursor: pointer;
    border: 1px solid #003b21;
    box-shadow: 1px 2px 10px #003b21;
}

.card:hover {
    transform: translateY(-.15em) scale(1.01);
    box-shadow: 3px 5px 20px #003b21;
}

.card-title:hover {
    color: #002213;
}

.card-footer {
    background-color: #003b21;
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: #003b21;
    color: #fff;
}


footer i {
    color: #fff;
}

footer i:hover {
    cursor: pointer;
    color: #ffffffcb;
    transform: scale(1.2);
}