{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- About page -->
<div class="container post-container mx-auto mb-5 px-3">
    <div class="row">
        <div class="col-12 col-md-10 mt-5">
            <h1>About</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-10" id="about-pg">
            <p><strong>Welcome to Out-N-About Sligo</strong>,</p>
            <p class="text-justify">Sligo, meaning 'abounding in shells' is a coastal seaport and the county town of
                County Sligo, Ireland.
                The
                county is
                reputed to have the richest concentration of prehistoric monuments in Western Europe, with over 5,000
                archaeological sites, one of which is 'Carrowmore', the largest megalithic cemetery in Ireland. Situated
                on
                the Wild Atlantic Way, with the coast to the west and lakelands to the east, Sligo town is the gateway
                to beautiful Irish experiences.</p>
            <p class="text-justify">Nevertheless, two mountains surround it, the majestic Benbulben to the east north
                and the ancient
                Knocknarea
                to the West on the coast of the Atlantic Ocean. It is one of the most picturesque landscapes of the
                country.</p>
            <p class="text-justify">As one of the main towns in the West of Ireland it is home to a wide range of
                attractions. From Outdoor
                activities, like surfing, walking, hiking or swimming, to amazing Food, lots of happy events and
                activities. Of course there is also the kindness and banter of people, who make it worth to visit even
                more.</p>
            <p class="text-justify">We want to share all that with you, so keep an eye out for new posts and features.
            </p>
            <p><strong>Failte go Sligeach!</strong></p>
        </div>
    </div>
</div>
{% endblock content %}