{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Edit comment</h3>
            <p><strong>{{ user.username }}</strong></p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}