{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Updates comments -->
<div class="container post-container mx-auto px-3">
    <div class="row">
        <div class="col-12 col-md-10 mt-5">
            <h3><strong>Edit your comment</strong></h3>
            <hr>
            <p><strong>{{ user.username }}</strong></p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}