{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ post.category }}</h1>
    <div class="row">
        <div class="col-12 mt-3 left">
            <h2 class="title">{{ post.title }}</h2>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                class="card-img-top">
                        </div>
                        <p>{{ post.author }} | {{ post.date_posted }} </p>
                        <p>{{ post.content | safe }}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}